selenium==4.31.0
undetected_chromedriver==3.5.5
setuptools==78.1.0
psutil==7.0.0

numpy==2.2.4
pandas==2.2.3
scikit-learn==1.6.1

PyMuPDF==1.25.5


ipdb==0.13.13
ipykernel==6.29.5
ipython==9.1.0

pytest==8.3.5

pillow==11.2.1
